<footer class="default-style flex-centered">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Location</h4>
                <p>Estonia, Tallinn</p>
            </div>
            <div class="col text-center">
                <p>All rights reserved &copy;</p>
            </div>
            <div class="col text-center">
                <h4>Languages</h4>
                <p>Estonian, English, Russian</p>
            </div>
        </div>
    </div>
</footer>