<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome to my blog about nature</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here will be a lot of posts about nature and of course a lot of pictures. Enjoy!!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="posts.php">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">My posts</button>
        </a>
        <a href="about-me.php">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Read about me</button>
        </a>
      </div>
    </div>
    <div>
      <div class="container px-5">
        <img src="https://www.stockvault.net/data/2009/12/25/112533/preview16.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="home page picture" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>